#header {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
   
.menu {
    display: flex;
    width: 90%;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    z-index: 10;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    
        a {
            color: $text_brown;
        }
   
        .menu__item {
            position: relative;
            display: block;
            outline: none;
            margin: 0 0 1.5em;
            line-height: 1;
            margin: 0 0 0.4em;
            border-bottom: 1px solid $border_brown;

            .menu__item-name {
                position: relative;
                display: inline-block;
                font-size: 1em;
                padding: 0 0.35em;
                line-height: 1.4;
                transition: color 0.5s;
                transition-timing-function: cubic-bezier(0.2,1,0.3,1);
                // font-weight: bold;
            }
        }
}

.menu .menu__item-name::before {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 50%;
	left: 0;
	bottom: 0;
    opacity: 0.3;
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
	transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    
}

.menu .menu__item .menu__item-name::before {
    background: $light_orange;
}

/* Hover */

.menu .menu__item:hover,
.menu .menu__item:focus {
    color: $text_orange;
    border-bottom: none;
}

.menu .menu__item:hover .menu__item-name::before,
.menu .menu__item:focus .menu__item-name::before {
    transform: scale3d(1,1,1);
}

.pictureAndName {
    display: flex;
    width: 100%;
    height: 640px;
    align-items: center;
    justify-content: center;
    background-image: url("https://wallpaperscraft.ru/image/gory_tropa_trava_nebo_119900_1366x768.jpg");
    background-position: center;
    background-size: cover;

        .name {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 45%;
            height: 90%;
        }

        h1 {
            font-family: 'Italianno', cursive;
            font-size: 100px;
            margin: 0;
            opacity: 0.9;
            color: $text_orange;
            text-shadow: 1px 1px 2px black;
        }

        h3 {
            font-family: 'Italianno', cursive;
            color: white;
            font-size: 50px;
            margin: 0;
            text-shadow: 1px 1px 2px black;
        }
    }
