@import "_reset.scss";
@import "_var.scss";
@import "_header.scss";
@import "_about.scss";
@import "_education.scss";
@import "_technologies.scss";
@import "_portfolio.scss";
@import "_myDreamJob.scss";
@import "_contacts.scss";


html, body {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title_design {
    font-family: 'Italianno', cursive;
    font-size: 50px;
    margin: 0;
    color: $text_brown;
    padding-top: 50px;
}

.text_design {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: $text_brown;
    padding-left: 30px;
    padding-right: 30px;
}

